<div id="wrapper">
<div id="appointment_dashboard" class="animate form">
<p id="notice"><%= notice %></p>

<p>
  <strong>User Type:</strong>
  <%= current_user.user_type %>
</p>
<p>
  <strong>Created by:</strong>
  <%= @appointment.created_by %>
</p>

<p>
  <strong>Description:</strong>
  <%= @appointment.description %>
</p>
<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor&.email %>
</p>
<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_doctors_appointments_path %>
</div>
</div>